<!DOCTYPE html>

<html>

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>User Sign Up</h1>

    <div>
        <form method="post" action="/user/signup">
            <label for="url"> Enter your First Name </label>
            <input type="text" name="firstname" placeholder="firstname">

            <label for="lastname"> Enter your Last Name </label>
            <input type="text" name="lastname" placeholder="lastname">
            
            <label for="email"> Enter your Email </label>
            <input type="text" name="email" placeholder="Email ID">

             <label for="password"> Enter your password </label>
            <input type="text" name="password" placeholder="Email ID">

             <label for="gender"> Gender</label>
            <input type="text" name="gender" placeholder="gender">
            
            <button type="submit"> Sign Up</button>
        </form>
    </div>

</body>

</html>